doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )/
        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui" )/
        meta( name="apple-mobile-web-app-capable", content="yes" )/

        title Thierry Lagasse

        link( rel="stylesheet", href="styles/main.css" )/

    body
        a( href="http://github.com/thierrylag/hireme", id="behind"): span Voir le code de cette page sur Github

        #content
            header
                h1 Thierry Lagasse
                blockquote 
            
            article
                section#welcome
                    p Bonjour,
                    p J'ai 35ans, je suis 
                        strong développeur freelance 
                        | et je peux certainement vous aider&#8239;!
                
                section#history
                    p Si mes premiers développements professionnels datent de la fin du XXème siècle (1997), par ma formation d'analyste programmeur, je suis spécialsé dans le WEB et les applications métiers depuis plus de 10ans (2003).
                    p Mobile et n'ayant pas peur de la route, j'ai d'abord travaillé au Luxembourg pendant plusieurs années comme développeur Web et project manager.
                    p Depuis 2010, je suis revenu en Belgique comme freelance ou je mets mes talents d'analyste au service de mes clients.

                section#skills
                    p Je suis polyglote : PHP, JS, CoffeeScript, Python, Bash, HTML, CSS, ... J'aime apprendre de nouveaux langages ou environnements de programmation.
                    p Ainsi, quel que soit votre projet, je peux m'adapter rapidement à votre environnement de travail. Au-delà du développement, je peux aussi installer/administrer des serveurs Linux pour déployer vos applications : PHP, NodeJS, Python...
                    p Je pourrais même préparer le café, que je consomme aux litres, mais je préfèrerais programmer la machine, via un Raspberry, par exemple.

                section#invite
                    p Que vous souhaitiez me demander de la sous-traitance ou de rejoindre votre équipe pour un gros projet, je suis disponible pour en parler. N'hésitez pas à me contacter par email, 
                        a( href="mailto:thierry@passtech.be" ) thierry@passtech.be
                        |, par téléphone, 
                        a( href="tel:0497723202" ) +32 (0)497 72 32 02 
                        | ou par télépathie (mais ce dernier medium interfère avec mon Wifi)...
                    p Je fréquente également l'espace de coworking, "La Forge", au centre de Liège, nous pourrions aussi nous y croiser à l'occasion.

                    p.hireme 
                        | Envie de bosser ensemble ?
                        a( href="mailto:thierry@passtech.be", rel="external", title="Engagez-moi !"): span Engagez-moi !

                nav#socials
                    a( href="https://twitter.com/akarun", class="twitter", rel="external"): span Twitter
                    a( href="http://www.linkedin.com/in/thierrylagasse", class="linkedin", rel="external"): span LinkedIn
                    a( href="http://github.com/thierrylag", class="github", rel="external"): span Github
                    a( href="http://passtech.be/cv", class="cv", rel="external"): span CV

            footer
                p.left
                    | &copy; 2014 - hire.passtech.be                    