doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )/
        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui" )/
        meta( name="apple-mobile-web-app-capable", content="yes" )/

        title Thierry Lagasse

        link( rel="stylesheet", href="/styles/main.css" )/

    body
        #content
            header
                h1 Thierry Lagasse
                figure
                    img(src="/styles/images/thierry-lagasse-bw.jpg")
            
            article
                section#welcome
                    p Bonjour,
                    p J'ai 35ans, je suis développeur freelance et je peux certainement vous aider !
                
                section#history
                    p Si j'ai codé mes premiers programmes professionnellement dès la fin du XXème siècle (1997), par ma formation d'analyste programmeur spécialsé dans les applications WEB et métiers depuis plus de 10ans (2003).
                    p Mobile et n'ayant pas peur de la route, j'ai d'abord travaillé au Luxembourg pendant plusieurs années comme développeur Web et project manager
                    p 
                        | Depuis quelques années, je suis revenu en Belgique comme freelance ou je mets mes talents d'analyste au service de mes clients.