/**
 *  Passtech.be - HireMe page - Main Stylus Document
 */

// RESET
@import "kouto-swiss"
meyer-reset()

// FONTS
font-face( "monosocial", "./fonts/MonoSocialIconsFont-1.10", normal, normal )
font-face( "robotolight", "./fonts/Roboto-Light-webfont", normal, normal )
font-face( "robotolight", "./fonts/Roboto-Regular-webfont", bold, normal )
robotolight = "robotolight", font-stack( "Helvetica" )

// VARS
greydark = #333
greyregular = #666
greylight = #FFF

elementspace = 5rem

// GLOBALS
*
    font-smooth always
    -webkit-font-smoothing antialiased
    outline 0
    box-sizing border-box
    -webkit-tap-highlight-color rgba( black, 0 )
    user-select none
    -webkit-text-size-adjust 100%

html
    font normal 62.5%/2 robotolight
    width 100%
    height 100%
    
    background url('./images/background.jpg') center center fixed
    background-size cover

    strong 
        font-weight bold

// CONTENT
#behind
    display block
    position absolute
    top -6rem
    right -2rem
    size 180px 160px
    background url( "images/code.png" ) top left no-repeat
    
    span
        display none

#content
    width 50%
    padding 5rem
    font-size 1.6rem
    line-height 2.2rem
    margin-bottom 1rem
    position relative
    text-align justify

    header
        margin-top 20%
        margin-bottom elementspace

        h1
            font-size 3.2rem

    article
        p
            margin-bottom 1rem

        section
            margin-bottom elementspace
        
        #invite
            .hireme
                margin-top 2rem
                text-align center

                a
                    display block
                    background-color greyregular
                    color greylight
                    text-decoration none
                    padding 1rem 2rem
                    margin 1rem auto 

        #socials
            margin-top 4rem
            text-align center

            a
                font normal 6rem/5rem "monosocial"
                color greyregular
                text-decoration none
                display inline-block
                margin 0 .5rem

                span
                    display none

                &.twitter
                    &:before
                        content ""
                &.linkedin
                    &:before
                        content ""
                &.github
                    &:before
                        content ""
                &.cv
                    &:before
                        content ""
                &.passtech
                    &:before
                        content ""

    footer
        margin-top 20%
