/**
 *  Passtech.be - HireMe page - Main Stylus Document
 */

// RESET
@import "kouto-swiss"
meyer-reset()

// FONTS
font-face( "Webhostinghub Glyphs", "./fonts/webhostinghub-glyphs", normal, normal, true )
Glyphs = "Webhostinghub Glyphs"

body
